:root {
  --color-item-group-header: #dadada;
  --color-add-item-button: #b1b1b1;
}

body {
  margin: 0;
  font-family: system-ui;
  overflow-x: hidden;
}

#list-name {
  text-align: center;
}

#items-group-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.items-group-wrapper {
  position: relative;
}

.items-group-wrapper .background {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  pointer-events: none;
  background-color: #ff5c5c;
}

.items-group {
  text-align: center;
  background-color: white;
  position: relative;
}

.items-group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 4px 16px;
  margin: 0 0;
  border-top: 2px solid var(--color-item-group-header);
  border-bottom: 2px solid var(--color-item-group-header);
  font-size: 1.1rem;
  touch-action: none;
}

.items-group-header__name {
  flex-grow: 1;
  text-overflow: ellipsis;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: bold;
}

.items-group-header__arrow {
  transform: rotate(180deg);
  padding: 5px;
}

.collapsible {
  overflow: hidden;
}

.items-container {
  list-style: none;
  padding: 0;
}

.item-wrapper {
  position: relative;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  position: relative;
}

.item__checkbox {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 16px;
  touch-action: none;
}

.item__checkbox input,
.item__checkbox svg {
  display: none;
}

.item__checkbox:has(input:checked) {
  background-color: #3ddf3d;
}

.item__checkbox input:checked~svg {
  display: block;
  stroke: white;
  stroke-width: 4;
  fill: none;
}

.item__name {
  border: none;
  outline: none;
  flex-grow: 1;
  text-overflow: ellipsis;
  touch-action: none;
}

.add-item-button {
  align-self: center;
  text-align: center;
  border: 2px solid var(--color-add-item-button);
  background-color: var(--color-add-item-button);
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 0.9rem;
}

.bottom-controls {
  position: sticky;
  bottom: 0;
  height: 50px;
  background-color: white;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}