:root {
  --color-item-group-header: #dadada;
  --color-add-item-button: #b1b1b1;
}

body {
  margin: 0;
  font-family: system-ui;
  overflow-x: hidden;
}

#list-name {
  text-align: center;
}

ul#sections-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
}

li.section {
  position: relative;
}

li.section .background {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  pointer-events: none;
  /* background-color like in js and html */
  background-color: #ff5c5c;
}

li.section .foreground {
  text-align: center;
  background-color: white;
  position: relative;
}

h2.section__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f4f4f4;
  padding: 4px 16px;
  margin: 0 0;
  border-top: 2px solid var(--color-item-group-header);
  border-bottom: 2px solid var(--color-item-group-header);
  font-size: 1.1rem;
  touch-action: none;
}

input.section__header__name {
  flex-grow: 1;
  text-overflow: ellipsis;
  border: none;
  background-color: transparent;
  outline: none;
  font-weight: bold;
}

svg.section__header__arrow {
  transform: rotate(180deg);
  padding: 5px;
}

.section__collapsible {
  overflow: hidden;
}

.section__collapsible .items-container {
  list-style: none;
  padding: 0;
}

li.item {
  position: relative;
}

li.item .background {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  pointer-events: none;
  /* background-color like in js and html */
  background-color: #ff5c5c;
}

li.item .foreground {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: white;
  position: relative;
}

.item__checkbox-wrapper {
  width: 20px;
  height: 20px;
  border: 2px solid black;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 16px;
  touch-action: none;
}

.item__checkbox-wrapper input[type="checkbox"],
.item__checkbox-wrapper svg {
  display: none;
}

.item__checkbox-wrapper:has(input[type="checkbox"]:checked) {
  /* change label background */
  background-color: #3ddf3d;
}

.item__checkbox-wrapper input[type="checkbox"]:checked~svg {
  /* show check svg */
  display: block;
  stroke: white;
  stroke-width: 4;
  fill: none;
}

input[type="text"].item__name {
  border: none;
  outline: none;
  flex-grow: 1;
  text-overflow: ellipsis;
  touch-action: none;
}

button.add-item {
  align-self: center;
  text-align: center;
  border: 2px solid var(--color-add-item-button);
  background-color: var(--color-add-item-button);
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 0.9rem;
}

#bottom-controls {
  position: sticky;
  bottom: 0;
  height: 50px;
  background-color: white;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}